body {
}

.fundo {
  background-image: url(imagens/depositphotos_52459259-stock-photo-group-of-busy-people-working.jpg);
  width: 100%;

}

#fonte {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 80px;

}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  background-color: #fff;
}

#logo {
  width: 250px;
}

.botoes {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 70%;
}

.botoes a {
  text-decoration: none;
  color: black;
}

.botoes div {
  margin-right: 10px;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
}

.botoes div:hover {
  background-color: greenyellow;
  transition: 0.7s;
}
